.moret{
  z-index: 2;
}
.moret-1{
  position: fixed;
  left:9;
  top: 0;
  background-color: rgb(255, 255, 255);
  padding-left: 1rem;
  margin-left: 0.5rem;
  }
  .moret-2{
    position: fixed;
    left:9;
    top: 0;
    background-color: rgb(255, 255, 255);
    padding-left: 1rem;
    }
    .moret-3{
      position: fixed;
      left:9;
      top: 0;
      background-color: rgb(255, 255, 255);
      padding-left: 1rem;
      }
.moret__in {
width: 13.5rem;
padding: 7px 0;
display: flex;
height: 35px;
align-items: center;
cursor: pointer;
}
.moret__in > .MuiSvgIcon-root {
padding: 0px 7px;
color: #2874f0;
font-size: 17px;
}
.moret__in:hover {
background-color: rgb(245, 243, 243);
}
.moret > hr {
margin-left: -10px;
margin-top: 0;
margin-bottom: 0;
margin-right: 0;
width: 108.5%;
height: 0.5px;
/* color: rgb(235, 235, 235); */
background-color: rgb(233, 233, 233);
border: none;
/* padding: 0; */
}

.main-list-2{
  margin: 1rem;
position: fixed;
left: 22rem;
top: 0;
padding: 2rem;
margin-top: 5rem;
}
.main-list-3{
margin: 1rem;
position: fixed;
left: 38rem;
top: 0;
padding: 2rem;
margin-top: 5rem;
}
.main-list-4{
  margin: 1rem;
  position: fixed;
  left: 55rem;
  top: 0;
  padding: 2rem;
  margin-top: 5rem;
  }
.list-item{
  font-size: 1.2rem;
  margin-top: 1rem;
  cursor: pointer;
  text-align: left;
  background-color: whitesmoke;
  padding: 0.5rem 5rem 0.5rem 1rem;
}
